<h1>You are about to start the game</h1>

<h3>Assign everyone a role!</h3>


<%= form_for(@game) do |f| %>

  <%= f.fields_for :game_players do |game_player| %>
      <% if able_to_assign_character?(game_player) %>
      <%= game_player.label :character_id, "#{player_name(game_player)}" %>
      <%= game_player.collection_select(:character_id, @game.characters, :id, :name) %>
      <br>
      <% end %>
    <% end %>
    <br>
    <%= f.submit "Assign Characters"%>
<% end %>

