<h1>Game <%= @game.id %></h1>
<h2>Judging by <%= judge_name(@game) %>!</h2>
<h3>Game Capacity: <%= @game.capacity %></h3>
<h3>Game Status: <%= @game.game_status %></h3>
<!-- check game_status -->
<% if @game.recruiting? %>

  <!-- Starting the Game -->
  <% if can_start_game?(@game) %>
    <!-- Game met capacity. Start the assign characters. -->
    <%= render 'start_game' %>
  <% end %>
  
  <%= render 'characters' %>

  <!-- Player who has joined the game -->
  <% if players_joined_game?(@game) %>
    <%= render 'players_joined_game' %>
  <% end %>
  
<% elsif @game.playing? %>

  <!-- Outputs everyone's name and their character's name -->
  <%= render 'characters_players' %>
  <!-- Role assign finished. Start the Night. -->
  <% if can_start_night?(@game) %>
    <%= link_to "Start the Night", new_game_night_path(@game) %>
  <% end %>  
        
<% end %>
